<div class="container">
	<a ui-sref="about" class="nav-link">about</a>
	<h2>projects</h2>

	<form ng-submit="newProject()">
		<input class="form-control projects-new-input" placeholder="project name" ng-model="newProjectInput"/>
		<button class="btn btn-success projects-new-button">new project</button>
	</form>

	<table class="table table-striped">
		<tr>
			<th>name</th>
			<th>length</th>
			<!-- <th>last modified</th> -->
			<th>actions</th>
		</tr>
		<tr ng-repeat="project in projects">
			<td><span class="projects_name">{{project.name}}</span></td>
			<td><span class="projects_length">{{project.length}}</span></td>
			<!-- <td><span class="projects_modified">{{project.modified}}</span></td> -->
			<td>
				<button ng-click="setCurrentProj(project)" ui-sref="edit" class="btn btn-info">open</button>
				<button ng-click="deleteProject(project.name)" class="btn btn-danger" >delete</button>
			</td>
		</tr>
	</table>
</div>